In [1]:
import os
import re
import pandas as pd

In [35]:
# initializing file path
path = './stocknet-dataset/tweet/raw'

In [36]:
# declaring an empty dictionary
dct = {
    'Company': [],
    'Date': [],
    'Tweet': [],
    'Followers': []
}

# helper function to add value to a column in dictionary
def addEntry(d, k, v):
    tmp = d.get(k)
    tmp.append(v)
    d[k] = tmp

In [37]:
# preparing data
companies = os.listdir(path+'/')
for company in companies:
    dates = os.listdir(path+'/'+company+'/')
    for date in dates:
        data = open(path+'/'+company+'/'+date, 'r')
        text = data.read().split('\n')[:-1]
        
        # filling dictionary with processed valued
        for line in text:
            # add Company
            addEntry(dct, 'Company', company)

            # add date
            addEntry(dct, 'Date', date)

            # add tweet
            tweet_tokens = line.split('"text":')[1].split(',')[0][1:]
            tweet = []
            for token in tweet_tokens.split(' '):
                if (token != '') and (token[0] not in ['$', '#', '@']) and ('http' not in token) and ('--' not in token) and (token != 'RT'):
                    token = re.sub('\W+','', token)
                    if token != '':
                        tweet.append(token.lower())
            tweet = ' '.join(tweet)
            addEntry(dct, 'Tweet', tweet)

            # add follower count
            followers = line.split('"friends_count":')[1].split(',')[0]
            addEntry(dct, 'Followers', followers)

In [38]:
df = pd.DataFrame(dct)

In [39]:
df.head()

  Company        Date                                       Tweet Followers
0      VZ  2014-10-14  news actives on open aapl u2026 board view       186
1      VZ  2015-06-20          pswseeking alpha june trade review       155
2      VZ  2015-06-20          pswseeking alpha june trade review        87
3      VZ  2015-06-20          pswseeking alpha june trade review       603
4      VZ  2015-06-20          pswseeking alpha june trade review        32

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119844 entries, 0 to 119843
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Company    119844 non-null  object
 1   Date       119844 non-null  object
 2   Tweet      119844 non-null  object
 3   Followers  119844 non-null  object
dtypes: object(4)
memory usage: 3.7+ MB

In [41]:
df.to_csv('tweet_data.csv', index=False)